@import './root.css';

.bg-img-menu {
    background-image: url('/assets/background2.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    height: 1000px;

    .title {
        width: 100%;
        position: absolute;
        top: 40%;
        text-align: center;

        h1 {
            color: var(--white-clr);
            font-size: 5rem;
        }
    }
}

article {
    display: grid;
    grid-template-columns: 1fr;

    .menu {
        margin: 30px 100px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

        .menu-container {
            display: flex;
            flex-direction: column;
            justify-self: center;
            box-shadow: 0 0 10px 0 var(--brown-clr) inset;
            background-color: var(--white-clr);
            margin: 5px 10px;
            width: 200px;
            
            img {
                width: 200px;
                height: 200px;
            }

            .menu-content {
                h4 {
                    color: var(--brown-clr);
                    padding: 10px;
                    font-weight: 700;
                }

                p {
                    color: var(--wheat-clr);
                    padding: 10px;
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }

            .cart-container { 
                margin: 10px 0;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2px;
                    width: 100%;
                    border: none;
                    background: none;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: 500;
                    
                    .cart-icon {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}

.menu-container:hover {
    transition: 500ms;
    transform: translateY(-10px);
}

.menu-container:hover .cart-container {
    transition: 500ms;
    background-color: var(--brown-clr);
    box-shadow: 0 0 10px 0 var(--black-clr);
}

.menu-container:hover button,
.menu-container:hover .cart-icon {
    transition: 500ms;
    color: var(--white-clr);
}

@media screen and (max-width: 720px) {
    article {
        .menu {
            margin: 30px;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

            .menu-container {
                width: 150px;

                img {
                    width: 150px;
                    height: 150px;
                }

                .menu-content {
                    h4 {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px ) {
    article {
        .menu {
            margin: 30px 20px;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

            .menu-container {
                width: 150px;

                img {
                    width: 150px;
                    height: 150px;
                }

                .menu-content {
                    h4 {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}